table{
border: 1px solid black;
background-color: #fff;
border-collapse: 0px;
border-spacing: 0px;
margin: auto;
margin-top: 30px;
}

.bk{
    border: 1px solid black;
    width: 60px;
    height: 60px;
    background-color: rgb(151, 167, 148);
}

.wh{
    border: 1px solid black;
    width: 60px;
    height: 60px;
    background-color: #fff;
}
table.botao{
    border: none;

}
